@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-headings {
  font-family: var(--shantell-sans);
}

body {
  font-family: 'Inter', sans-serif;
}

.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  animation: wavy 1s infinite;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0.5;
  display: inline-flex;
  margin-right: 0.5rem;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

@counter-style folder {
  system: cyclic;
  prefix: '› ';
  symbols: '\1F4C1';
  suffix: ' ';
}

@counter-style folder-open {
  system: cyclic;
  prefix: '∨ ';
  symbols: '\1F4C2';
  suffix: ' ';
}

details summary {
  list-style-type: folder;
}

details[open] summary {
  list-style-type: folder-open;
}
/* dont show backticks as part of markdown code tags */
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "";
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: "";
}

figcaption {
  text-align: center;
}