@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-headings {
  font-family: var(--shantell-sans);
}

body {
  font-family: 'Inter', sans-serif;
}

.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
  animation: wavy 1s infinite;
}
.katex-display {
  overflow: auto hidden;
}

details summary {
    list-style-type: '📁 ';
    margin-left: -0.5rem;
}


details[open] summary {
    list-style-type: '📂 ';
}
